<template name="home">
  <h1 class="display-4 mb-4">Welcome to Meteor!</h1>
  <div class="counter-section">
    <button class="btn btn-primary">Click Me</button>
    <p class="mt-2">You've pressed the button {{counter}} times.</p>
  </div>
  {{> info}}
</template>

<template name="info">
  <button class="btn btn-primary">Click Me</button>
  <p class="mt-2">You've pressed the button {{counter}} times.</p>
</template>

<template name="info">
  <h2 class="h3 mt-4 mb-3">Learn Meteor!</h2>
  <ul class="list-unstyled">
    <li class="mb-2"><a href="https://www.meteor.com/try" target="_blank" class="text-primary">Do the Tutorial</a></li>
    <li class="mb-2"><a href="http://guide.meteor.com" target="_blank" class="text-primary">Follow the Guide</a></li>
    <li class="mb-2"><a href="https://docs.meteor.com" target="_blank" class="text-primary">Read the Docs</a></li>
    <li class="mb-2"><a href="https://forums.meteor.com" target="_blank" class="text-primary">Discussions</a></li>
  </ul>
</template>
